{% extends 'Doctor_App/base.html' %} {% block nav %} {% include "./navbar.html" %} {% endblock nav %} {% block content %}
<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-outline-secondary" onclick="goBack()">Back to Doctor Details</button>
        <button class="btn btn-outline-primary" onclick="viewAppointments()">View Booked Appointments</button>
    </div>
    <hr />
    <h1>Confirmation</h1>
    <p>Your appointment with Dr. {{ doctor_id}} has been successfully booked with booking id {{appointment.appid}}.</p>
</div>

<script>
    function goBack() {
        window.location.href = "{% url 'find_doctor' %}";
    }

    function viewAppointments() {
        window.location.href = "{% url 'upcoming_appointments' %}";
    }
</script>
{% endblock %}
