{% extends 'Doctor_App/base.html' %}

{% block nav %}
    {% include "./navbar.html" %}
{% endblock nav %}

{% block content %}
<style>
    .btn-custom {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .btn-custom:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .table-custom {
        background-color: #ffffff;
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .table-custom thead {
        background-color: #2967a833;
        color: black;
    }

    .table-custom tbody tr:nth-of-type(odd) {
        background-color: #f8f9fa;
    }

    .table-custom tbody tr:hover {
        background-color: #e9ecef;
    }

    .table-custom th, .table-custom td {
        text-align: center;
        padding: 12px 15px;
    }

    .table-custom th {
        font-weight: 500;
    }

    .pagination-custom {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .pagination-custom .page-item .page-link {
        color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .pagination-custom .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }

    .pagination-custom .page-link:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>

<div class="mt-4">
    <div class="row mb-4">
        <div class="col">
            <a href="{% url 'patient_dashboard' %}" class="btn btn-outline-secondary">Back to Dashboard</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary">
            <h3 class="card-title mb-0">Prescriptions</h3>
        </div>
        <div class="card-body">
            {% if prescriptions %}
            <div class="table-responsive">
                <table class="table  table-custom">
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Medication</th>
                            <th>Instructions</th>
                            <th>Diagnosis</th>
                            <th>General Info</th>
                            <th>Follow-Up</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prescription in prescriptions %}
                        <tr onclick="window.location.href='{% url 'prescription_detail' prescription.id %}'" style="cursor: pointer">
                            <td>{{ prescription.doctor.get_full_name }}</td>
                            <td>{{ prescription.date }}</td>
                            <td>{{ prescription.medication |truncatechars:30}}</td>
                            <td>{{ prescription.instructions |truncatechars:30}}</td>
                            <td>{{ prescription.diagnosis |truncatechars:30}}</td>
                            <td>{{ prescription.general_info |truncatechars:30}}</td>
                            <td>{% if prescription.follow_up %} Yes {% else %} None {% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="Prescription Pagination">
                    <ul class="pagination">
                        {% if prescriptions.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ prescriptions.previous_page_number }}">Previous</a></li>
                        {% endif %} {% for num in prescriptions.paginator.page_range %} {% if prescriptions.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %} {% endfor %} {% if prescriptions.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ prescriptions.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ prescriptions.paginator.num_pages }}">Last</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% else %}
            <p class="text-center">No prescriptions found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
