{% extends 'Doctor_App/base.html' %}

{% block nav %}
{% include "./navbar.html" %}
{% endblock nav %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Test Reports</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Upload Test Reports</h2>
        <a href="{% url 'patient_dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
                <label for="file">Select File:</label>
                <input type="file" class="form-control-file" id="file" name="file" accept=".pdf, .jpg, .jpeg, .png" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>

    <!-- Bootstrap JS (Optional, if needed) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{%endblock%}
