{% extends './base.html' %}

{% block title %}About - CareUnity Portal{% endblock %}

{% block content %}

<main>
    <h1>About Us</h1>
    <p>Welcome to Doctor's Appointment Booking, your one-stop destination for booking medical appointments online. We strive to make the process of scheduling appointments with healthcare professionals easy, convenient, and efficient.</p>
    
    <h2>Our Mission</h2>
    <p>Our mission is to provide patients with access to quality healthcare services by connecting them with experienced and trusted doctors in their area. We aim to streamline the appointment booking process, saving both time and effort for patients and healthcare providers alike.</p>
    
    <h2>Meet Our Team</h2>
    <div class="row mt-5 align-items-center">
        <div class="col-md-6">
          <img src="https://media.istockphoto.com/id/1293373291/photo/portrait-of-confident-ethnic-female-doctor.jpg?s=612x612&w=0&k=20&c=CJsw6IgTecJZoBeVXqZdvh2BI-NyVa-8VcQM3fPhbYc=" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Dr.Sunita Chowdhury</h2>
          <p>M.Phil,MBBS</p>
          <p>Head of Orthopedic department</p>
        </div>
      </div>
      <div class="row mt-5 align-items-center flex-md-row-reverse">
        <div class="col-md-6">
          <img src="https://previews.123rf.com/images/espies/espies1707/espies170700249/82494016-portrait-of-an-cheerful-indian-handsome-male-doctor-with-a-stethoscope-around-his-neck-isolated-over.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Dr. Pritam Basu</h2>
          <p>MBBS, Specialization: Cardiology</p>
          <p>Head of Cardiology</p>
        </div>
      </div>
      <div class="row mt-5 align-items-center">
        <div class="col-md-6">
          <img src="https://static.vecteezy.com/system/resources/previews/028/287/384/large_2x/a-mature-indian-male-doctor-on-a-white-background-ai-generated-photo.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Dr.Rahul Sen</h2>
          <p>M.Phil,MBBS</p>
          <p>Head of Neurology department</p>
        </div>
      </div>
      <div class="row mt-5 align-items-center flex-md-row-reverse">
        <div class="col-md-6">
          <img src="https://media.istockphoto.com/id/177362371/photo/indian-female-doctor.jpg?s=612x612&w=0&k=20&c=78RiEklk7_aYDchYy-m7y1Guu4vagCHhvH7tjf5495s=" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Dr. Sreemoyee Guha</h2>
          <p>M.Phil,MBBS, B.Pharm</p>
          <p>Head of Urology department</p>
        </div>
      </div>
      <div class="row mt-5 align-items-center">
        <div class="col-md-6">
          <img src="https://t4.ftcdn.net/jpg/02/69/98/99/360_F_269989951_9Gf7PWaRtrpm2EochO3D5WVn22sFZbNZ.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Dr.Anindya Basu</h2>
          <p>M.Phil,MBBS</p>
          <p>Head of ENT department</p>
        </div>
      </div>
      <div class="row mt-5 align-items-center flex-md-row-reverse">
        <div class="col-md-6">
          <img src="https://img.freepik.com/premium-photo/indian-female-doctor-indian-nurse_714173-201.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Dr.Mohini Nayak</h2>
          <p>M.Phil,MBBS</p>
          <p>Head of Gynaecology department</p>
        </div>
      </div>
      

</main>

<!-- Footer -->
<footer>
    <p>&copy; 2024 Doctor's Appointment Booking</p>
</footer>

{% endblock %}
