{% extends './base.html' %}

{% block title %}Contact - CareUnity Portal{% endblock %}

{% block content %}
        <h1>Contact Us</h1>
        <p>Please fill out the form below to get in touch with us.</p>
        <form action="submit_contact_form.php" method="post">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your full name" required>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter your message" required></textarea>
            </div>
            <button type="" class="btn btn-primary">Send</button>
        </form>
    </div>

{% endblock %}
