{% block navbar %}
{% with request.resolver_match.view_name as url_name %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <!-- Update the href to point to 'home' and remove the text-primary class -->
        <a class="navbar-brand" href="{% url 'home' %}">CareUnity Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}"><i class="bi bi-box-arrow-right"></i> Dashboard</a>
                </li>
                {% endif %}

                <!-- Remove the conditional statement for 'dashboard' and add new list items for 'About', 'Services', and 'Contact' -->
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'services' %}active{% endif %}" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- Update the class for the 'Sign In' link to 'text-success' -->
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    
                        <a class="nav-link text-danger" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Logout</a>
                    {% else %}
                        <a class="nav-link text-warning" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Sign In</a>
                    {% endif %}
    
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endwith %}
{% endblock %}
