{% extends 'base.html' %} {% block title %}Login - CareUnity Portal{% endblock %} {% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Login</h2>
                <form method="post">
                    {% csrf_token %} 
                    {% for form in forms %}
                    <div class="mb-3">
                        {{form.label}} &nbsp;&nbsp; {{form}}
                        <span class="text-danger">{{form.errors | striptags}}</span>
                    </div>
                    {% endfor %}
                    {% comment %} <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>{% endcomment %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div> 
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'signup' %}" class="text-decoration-none">Sign Up</a> |
                    <a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
