{% block navbar %}
{% with request.resolver_match.view_name as url_name %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <!-- Update the href to point to 'home' and remove the text-primary class -->
        <a class="navbar-brand" href="{% url 'home' %}">CareUnity Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{% endwith %}
{% endblock %}
