{% extends './base.html' %} {% block title %}Sign Up - CareUnity Portal{% endblock %} {% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Sign Up</h2>
                <form method="post">
                    {% csrf_token %} {% for form in forms %}
                        {{form.label}} {{form}}
                        <span class="text-danger">{{form.errors | striptags}}</span>
                    {% endfor %} 
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="termsCheckbox" name="terms" required />
                            <label class="form-check-label" for="termsCheckbox"> I agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">terms and conditions</a> </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                    <div class="mb-3">
                        <div class="">
                            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 16px">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula quam eu eros tempus, sed malesuada massa accumsan. Integer malesuada eros ut dui elementum, ac tempor odio
                    laoreet. Proin in velit sed felis congue tincidunt et at ligula. Suspendisse ac lacinia ex. Donec interdum lorem nec nisi lacinia, vel fermentum purus egestas.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula quam eu eros tempus, sed malesuada massa accumsan. Integer malesuada eros ut dui elementum, ac tempor odio
                    laoreet. Proin in velit sed felis congue tincidunt et at ligula. Suspendisse ac lacinia ex. Donec interdum lorem nec nisi lacinia, vel fermentum purus egestas.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula quam eu eros tempus, sed malesuada massa accumsan. Integer malesuada eros ut dui elementum, ac tempor odio
                    laoreet. Proin in velit sed felis congue tincidunt et at ligula. Suspendisse ac lacinia ex. Donec interdum lorem nec nisi lacinia, vel fermentum purus egestas.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula quam eu eros tempus, sed malesuada massa accumsan. Integer malesuada eros ut dui elementum, ac tempor odio
                    laoreet. Proin in velit sed felis congue tincidunt et at ligula. Suspendisse ac lacinia ex. Donec interdum lorem nec nisi lacinia, vel fermentum purus egestas.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula quam eu eros tempus, sed malesuada massa accumsan. Integer malesuada eros ut dui elementum, ac tempor odio
                    laoreet. Proin in velit sed felis congue tincidunt et at ligula. Suspendisse ac lacinia ex. Donec interdum lorem nec nisi lacinia, vel fermentum purus egestas.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula quam eu eros tempus, sed malesuada massa accumsan. Integer malesuada eros ut dui elementum, ac tempor odio
                    laoreet. Proin in velit sed felis congue tincidunt et at ligula. Suspendisse ac lacinia ex. Donec interdum lorem nec nisi lacinia, vel fermentum purus egestas.
                </p>
                <!-- Add more terms and conditions here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    var termsModal = new bootstrap.Modal(document.getElementById("termsModal"), {
        keyboard: false,
    });
    var termsModalToggle = document.getElementById("termsModalToggle");
    termsModalToggle.addEventListener("click", function () {
        termsModal.show();
    });
</script>
{% endblock %}
