.clickable-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.clickable-card:hover {
    transform: scale(1.02);
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(1080deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1440deg);
    }
}

.waterMark {
    color: #dddddd !important;
    font-size: 4rem !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    pointer-events: none !important;
    z-index: -1 !important;
    opacity: 0.3 !important;
}


.lg-hov:hover{
    color:  #f44900 !important;
}

.lg-active{
    color: #249cec !important;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.section:hover {
    background-color: #e0e0e0;
}
h2 {
    margin-top: 0;
}

.container {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/*About page*/

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

/* Styles for team members */
.row {
    margin-top: 30px;
}

.col-md-6 {
    text-align: center;
}

.img-fluid {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.img-fluid:hover {
    transform: scale(1.1);
}
/* Animation for h2 tags */
h2 {
    color: #333;
    transition: color 0.3s ease; /* Smooth color transition */
}

h2:hover {
    color: blue; /* Change text color on hover */
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes shake {
    0% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
}

/* Animation for p tags */
p {
    color: #666;
    transition: color 0.3s ease; /* Smooth color transition */
}

p:hover {
    color: #33cc33; /* Change text color on hover */
    animation-name: fadeInOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/*appointment booking*/

.container {
    /* max-width: 800px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.section:hover {
    background-color: #e0e0e0;
}
h2 {
    margin-top: 0;
}

.container {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


