{% extends 'Doctor_App/base.html' %}

{% block nav %}
    {% include "./navbar.html" %}
{% endblock nav %}

{% block content %}
<style>
    .card {
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        background-color: #ffffff;
    }
    .card-header {
        background-color: #4a90e2;
        color: #fff;
        border-radius: 12px 12px 0 0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-body {
        padding: 25px;
    }
    .table {
        margin-top: 20px;
    }
    .table thead th {
        border-bottom: 2px solid #dee2e6;
        background-color: #f8f9fa;
    }
    .table tbody tr:hover {
        background-color: #f1f1f1;
        transition: background-color 0.2s ease-in-out;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .pagination .page-link {
        border-radius: 5px;
        margin: 0 5px;
        color: #007bff;
    }
    .pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }
    #appointment-date {
        max-width: 300px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-left: auto;
    }
    .btn-outline-secondary {
        border-color: #6c757d;
        color: #6c757d;
    }
    .btn-outline-secondary:hover {
        background-color: #6c757d;
        color: #fff;
    }
</style>

<div class="">
    <div class="row mb-4">
        <div class="col">
            <a href="{% url 'doctor_dashboard' %}" class="btn btn-outline-secondary">Back to Dashboard</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title mb-0">Appointments for {{ selected_date }}</h3>
            <input type="date" id="appointment-date" class="form-control" value="{{ selected_date }}">
        </div>
        <div class="card-body">
            {% if appointments %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Patient</th>
                                {% comment %} <th>Time</th> {% endcomment %}
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                                <tr class="clickable-row" data-href="{% url 'patient_detail' appointment.patient.user.username %}" style="cursor: pointer">
                                    <td>{{ appointment.patient.user.get_full_name }}</td>
                                    {% comment %} <td>{{ appointment.appdate|time:"g:i A" }}</td> {% endcomment %}
                                    <td>{{ appointment.status }}</td>
                                     <td class="action">
                                
                                        {% if appointment.status == 'Cancelled' %}
                                        {% else %}
                                            {% if appointment.status != 'Cancelled' %}
                                            <a class="btn btn-outline-danger btn-sm" href="{% url 'update_appointment_status' appointment_id=appointment.appid  status='Cancelled' %}">Cancel</a>
                                            {% endif %}
                                            {% if appointment.status != 'Confirmed' %}
                                            <a class="btn btn-outline-warning btn-sm" href="{% url 'reschedule_appointment' appointment_id=appointment.appid %}">Reschedule</a>
                                            {% endif %}
                                            {% if appointment.status != 'Confirmed' %}
                                            <a class="btn btn-outline-warning btn-sm" href="{% url 'update_appointment_status' appointment_id=appointment.appid  status='Confirmed' %}">Confirmed</a>
                                            {% endif %}
                                        {% endif %}
                               
                                {% comment %} <button class="btn btn-outline-success btn-sm">Print Slip</button> {% endcomment %}
                            </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        {% if appointments.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1&date={{ selected_date }}">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ appointments.previous_page_number }}&date={{ selected_date }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for num in appointments.paginator.page_range %}
                            {% if appointments.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}&date={{ selected_date }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if appointments.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ appointments.next_page_number }}&date={{ selected_date }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ appointments.paginator.num_pages }}&date={{ selected_date }}">Last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <p class="text-center">No appointments for this date.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.getElementById('appointment-date').addEventListener('change', function() {
        const selectedDate = this.value;
        window.location.href = `{% url 'doctor_appointments' %}?date=${selectedDate}`;
    });
    document.addEventListener('DOMContentLoaded', function() {
        var rows = document.querySelectorAll('.clickable-row');
        rows.forEach(function(row) {
            row.addEventListener('click', function() {
                window.location.href = this.getAttribute('data-href');
            });
        });
    });
</script>
{% endblock %}
