{% extends 'Doctor_App/base.html' %} {% block nav %} {% include "./navbar.html" %} {% endblock nav %} {% block title %}Doctor Dashboard - CareUnity Portal{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="section">
            <div class="card h-100 clickable-card" onclick="location.href='{% url 'patient_list' %}'">
                <div class="card-body">
                    <h5 class="card-title">Patient List</h5>
                    <p class="card-text">View and manage your patient list.</p>
                    <a href="{% url 'patient_list' %}" class="card-link">View Patients</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="section">
            <div class="card h-100 clickable-card" onclick="location.href='#'">
                <div class="card-body">
                    <h5 class="card-title">Schedules</h5>
                    <p class="card-text">Manage your schedules and appointments.</p>
                    <a href="#" class="card-link">Manage Schedules</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
