{% extends 'Doctor_App/base.html' %}

{% block nav %}
    {% include "./navbar.html" %}
{% endblock nav %}

{% block title %}Welcome Patient - CareUnity Portal{% endblock %}

{% block content %}
<div class="mt-4">
    <h1 class="text-center mb-4">Doctor Dashboard</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card border-primary h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">Patient List</h5>
                    <p class="card-text">View and manage your patient list.</p>
                    <a href="{% url 'patient_list' %}" class="btn btn-primary">Open Patient List</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card border-success h-100">
                <div class="card-body">
                    <h5 class="card-title text-success">Appointments</h5>
                    <p class="card-text">Manage your schedules and appointments.</p>
                    <a href="{% url 'doctor_appointments' %}" class="btn btn-success">Manage Appointments</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
