{% extends 'Doctor_App/base.html' %}

{% block content %}
        <div class="row mb-4">
            <div class="col">
                <a href="{% url 'doctor_dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
            </div>
            {% comment %} <div class="col text-end">
                <a href="{% url 'add_patient' %}" class="btn btn-primary">Add New Patient</a>
            </div> {% endcomment %}
        </div>
        <h1>Patient List</h1>
        <form method="GET" class="d-flex">
            <div class="input-group me-2">
                <select name="search_criteria" class="form-select">
                    <option value="name" {% if search_criteria == 'name' %}selected{% endif %}>Name</option>
                    <option value="username" {% if search_criteria == 'username' %}selected{% endif %}>Patient Id</option>
                </select>
                <input type="text" name="search" class="form-control" placeholder="Search" value="{{ search_query }}">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            {% if search_query %}
                <a href="{% url 'patient_list' %}" class="btn btn-secondary">Clear</a>
            {% endif %}
        </form>
        {% if patients %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Patient Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        
                        <!-- Add other columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr onclick="window.location.href='{% url 'patient_detail' patient.user.id %}'" style="cursor: pointer;">
                            <td>{{ patient.user.username }}  </td>
                            <td>{{ patient.user.first_name }} {{ patient.user.last_name }} </td>
                            <td>{{ patient.age }}  </td>
                            <td>{{ patient.gender }}  </td>
                            <!-- Add other columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No patients found.</p>
        {% endif %}
{% endblock %}
