{% extends 'Doctor_App/base.html' %} {% block nav %} {% include "./navbar.html" %} {% endblock nav %} {% block content %}

<div class="row mb-3">
    <div class="col">
        <a href="{% url 'patient_list' %}" class="btn btn-secondary">Back to Patient List</a>
    </div>
    <div class="col text-end">
        <a href="{% url 'edit_patient' patient_id=patient.user.username %}" class="btn btn-primary">Edit</a>
        <form action="{% url 'delete_patient' patient_id=patient.user.username %}" method="post" style="display: inline-block">
            {% csrf_token %}
            <button
                type=""
                class="btn btn-danger"
                onclick="return confirm('Are you sure you want to delete this patient from the patient list? This action will not delete the user, but the patient record will be removed from the patient list.')"
            >
                Delete
            </button>
        </form>
        <a href="{% url 'add_prescription' patient_id=patient.user.username %}" class="btn btn-success">Add Prescription</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title mb-4"><strong>Patient Id:</strong> {{ patient.user.username }}</h3>
        <div class="row mb-3">
            <div class="col-md-6">
                <p class="card-text fs-5"><strong>Name:</strong> {{ patient.user.get_full_name }}</p>
                <p class="card-text fs-5"><strong>Email:</strong> {{ patient.user.email }}</p>
                <p class="card-text fs-5"><strong>Mobile:</strong> {{ patient.user.mobile }}</p>
            </div>
            <div class="col-md-6">
                <p class="card-text fs-5"><strong>Health Insurance:</strong> {{ patient.health_insurance }}</p>
                <p class="card-text fs-5"><strong>Assigned Doctor:</strong> {{ patient.assigned_doctor }}</p>
                <p class="card-text fs-5"><strong>Address:</strong> {{ patient.user.address }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="card-text fs-5"><strong>Health Condition:</strong> {{ patient.health_condition }}</p>
            </div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title mb-4">Prescriptions</h3>
        {% if prescriptions %}
        <table class="table">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Medication</th>
                    <th>Instructions</th>
                    <th>Diagnosis</th>
                    <th>General Info</th>
                    <th>Follow-Up</th>
                </tr>
            </thead>
            <tbody>
                {% for prescription in prescriptions %}
                <tr onclick="window.location.href='{% url 'view_prescription' prescription.id %}'" style="cursor: pointer">
                    <td>{{ prescription.doctor.get_full_name }}</td>
                    <td>{{ prescription.date }}</td>
                    <td>{{ prescription.medication |truncatechars:30}}</td>
                    <td>{{ prescription.instructions |truncatechars:30}}</td>
                    <td>{{ prescription.diagnosis |truncatechars:30}}</td>
                    <td>{{ prescription.general_info |truncatechars:30}}</td>
                    <td>{% if prescription.follow_up %} Yes {% else %} None {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                {% if prescriptions.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ prescriptions.previous_page_number }}">Previous</a></li>
                {% endif %} {% for num in prescriptions.paginator.page_range %} {% if prescriptions.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %} {% endfor %} {% if prescriptions.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ prescriptions.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ prescriptions.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </div>
        {% else %}
        <p>No prescriptions found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
