{% extends 'Doctor_App/base.html' %} {% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <a href="{% url 'patient_list' %}" class="btn btn-secondary">Back to Patient List</a>
        </div>
        <div class="col text-end">
            <form action="{% url 'edit_patient' patient_id=patient.user.id %}" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            <form action="{% url 'delete_patient' patient_id=patient.user.id %}" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this patient from the patient list? This action will not delete the user, but the patient record will be removed from the patient list.')">Delete</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Patient Details of</h1>
            <h5 class="card-subtitle mb-2 text-muted"><strong>Patient Id:</strong> {{ patient.user.username }}</h5>
            <p class="card-text"><strong>Name:</strong> {{ patient.user.get_full_name }}</p>
            <p class="card-text"><strong>Email:</strong> {{ patient.user.email }}</p>
            <!-- Add other patient details -->
        </div>
    </div>
</div>
{% endblock %}
