{% extends 'Doctor_App/base.html' %}
{% block nav %}
{% include "./navbar.html" %}
{% endblock nav %}

{% block content %}
        <div class="row mb-4">
            <div class="col">
                <a href="{% url 'doctor_dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
            </div>
            {% comment %} <div class="col text-end">
                <a href="{% url 'add_patient' %}" class="btn btn-primary">Add New Patient</a>
            </div> {% endcomment %}
        </div>
        <h1>Patient List</h1>
        <form method="GET" class="d-flex">
            <div class="input-group me-2" style="width: 70%;">
                <input type="text" name="search" class="form-control" placeholder="Search" value="{{ search_query }}">
            </div>
            <div class="input-group" style="width: 20%;">
                <select name="search_criteria" class="form-select" style="font-size: 0.85rem;">
                    <option value="username" {% if search_criteria == 'username' %}selected{% endif %}>Patient Id</option>
                    <option value="name" {% if search_criteria == 'name' %}selected{% endif %}>Name</option>
                </select>
            </div>
            <div class="input-group" style="width: 10%; padding-left:8px;">
                <button type="submit" class="btn btn-primary">Search</button>
                {% comment %} {% if search_query %}
                    <a href="{% url 'patient_list' %}" class="btn btn-secondary">Clear</a>
                {% endif %} {% endcomment %}
            </div>
        </form>
        {% if patients %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Patient Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        
                        <!-- Add other columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr onclick="window.location.href='{% url 'patient_detail' patient.user.username %}'" style="cursor: pointer;">
                            <td>{{ patient.user.username }}  </td>
                            <td>{{ patient.user.first_name }} {{ patient.user.last_name }} </td>
                            <td>{{ patient.age }}  </td>
                            <td>{{ patient.gender }}  </td>
                            <!-- Add other columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    {% if patients.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ patients.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in patients.paginator.page_range %}
                        {% if patients.number == num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if patients.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ patients.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ patients.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <p>No patients found.</p>
        {% endif %}
{% endblock %}
